nav{
    background-color: transparent;
    width: 100% !important;
    height: auto;
    border-radius: 0px !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    /* box-shadow: 0 0 50px 0 rgba(0,0,0,.1); */
    z-index: 10;
}

nav .navbar-nav {
    margin-top: 12px;
}

nav .navbar-nav a{
    color: var(--main-color);
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 17px;
    transition: all 0.3s ease;
    display: inline;
}

nav .navbar-nav a:hover,
nav .navbar-nav a:focus
{
    color: var(--orange-color);
}

nav .navbar-nav .active{
    color: var(--orange-color) !important;
}

.nav.scrolled {
    background-color: white !important;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.1);
}

.nav.scrolled .navbar-nav a {
    color: var(--main-color) !important;
}

.nav.scrolled .navbar-nav a:hover,
.nav.scrolled .navbar-nav a:focus {
    color: var(--orange-color) !important;
}

.dropdown-toggle::after{
    content: "\2b" !important;
    border: none !important;
    color: #bbbbcf;
    font-weight: 700 !important;
    font-size: 20px;
    transform: translateY(5px);
    transition: transform 0.5s ease; /* Add transition for smooth rotation */
}

.dropdown-toggle:hover:after,
.dropdown-toggle:focus:after{
    color: var(--orange-color) !important;
    transform: translateY(5px) rotate(45deg); /* Rotate the pseudo-element by 90 degrees on hover */
}

nav .navbar-nav button{
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    width: 180px !important;
    height: 50px !important; 
    color: #fff !important; 
    text-transform: uppercase;
    font-size: 15px !important;
    margin-top: -10px !important; 
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px !important;
    font-weight: 500 !important;
    box-shadow: 0 5px 20px 0 rgba(86, 90, 207, .3) !important;
    transition: all 0.3s ease-in-out;
}

nav .navbar-nav button:hover{
    background-color: #494bd0 !important;
    color: #fff !important;
}

nav .navbar-nav button span{
    background-color: #fff;
    color: var(--btn-color);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
}   

nav .navbar-nav .dropdown-menu{
    background-color: #fff;
    border: 1px solid #fff;
    position: static;
    border-radius: 0px;
    width: 200px;
    padding: 10px 15px;
}

nav .navbar-nav .dropdown-menu a{
    color: #666;
    font-size: 14px;
    line-height: 30px !important;
    position: relative;
    font-weight: 500;
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
    display: block;
}



/* Keyframe animation for the ::before pseudo-element */
@keyframes underlineExpand {
    0% {
        width: 0; /* Start with no width */
    }
    50% {
        width: 50%; /* Expand to full width */
    }
    100% {
        width: 100%; /* Expand to full width */
    }
}

nav .navbar-nav .dropdown-menu a::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--main-color);
    width: 0; /* Start with no width */
    transition: all 0.3s ease;
}

nav .navbar-nav .dropdown-menu a:hover::before {
    animation: underlineExpand 0.4s ease forwards; /* Apply the keyframe animation on hover */
}

nav .navbar-nav .dropdown-menu a:hover{
    color: var(--main-color) !important;
    background-color: #fff;
}

.nav.scrolled .navbar-nav .dropdown-menu a:hover{
    color: var(--main-color) !important;
    background-color: #fff;
}

nav .whitelogo{
    display: none;
}

nav .navbar-nav .fa-phone{
    color: var(--btn-color);
    padding: 10px;
    background-color: #E7E7FA;
    border-radius: 6px;
    margin-right: 8px;
}

nav .search{
    color: var(--btn-color);
    transition: all 0.3s ease;
}

nav .search:hover{
    color: var(--orange-color);
}

@media(max-width: 1200px){
    nav .phone{
        display: none !important;
    }
}

@media(max-width: 992px){
    .nav.scrolled {
        background-color: #171a1e !important;
        box-shadow: 0 0 50px 0 rgba(0,0,0,.1);
    }

    .nav.scrolled .navbar-nav{
        padding: 0 !important;
    }
    
    .nav.scrolled .navbar-nav a {
        color: #fff !important;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        padding-bottom: 15px !important;
        display: block;
    }
    
    .nav.scrolled .navbar-nav a:hover,
    .nav.scrolled .navbar-nav a:focus {
        color: var(--orange-color) !important;
    }

    .nav.scrolled .navbar-nav .dropdown-menu{
        width: 100%;
    }

    .nav.scrolled .whitelogo{
        display: block;
    }

    .nav.scrolled .blacklogo{
        display: none;
    }

    .nav.scrolled .navbar-nav .dropdown-menu{
        background-color: transparent;
        border: none;
    }

    .nav.scrolled .navbar-nav .dropdown-menu a{
        width: 100%;
        color: hsla(0, 0%, 100%, .7) !important;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }

    .nav.scrolled .navbar-nav .dropdown-menu a:hover{
        background-color: transparent;
        color: #565acf !important;
    }

    .nav.scrolled .navbar-nav .dropdown-menu a:hover::before {
        animation: none;
    }

    .nav.scrolled .navbar-toggler{
        background-color: var(--btn-color) !important;
        border: none !important;
        box-shadow: none !important;
    }

    .nav.scrolled .navbar-toggler-icon{
        background-image: url('../../Assets/whitebar.png') !important;
    }

    .nav.scrolled .navbar-nav button{
        margin-top: 0;
    }

    nav .navbar-nav{
        background-color: #171a1e !important;
        padding: 30px;
    }

    nav .navbar-nav .dropdown-menu{
        width: 100%;
    }

    nav .navbar-nav a{
        color: #fff;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        padding-bottom: 15px !important;
        display: block;
    }

    nav .navbar-nav .dropdown-menu{
        background-color: transparent;
        border: none;
    }

    nav .navbar-nav .dropdown-menu a{
        width: 100%;
        color: hsla(0, 0%, 100%, .7);
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }

    nav .navbar-nav .dropdown-menu a:hover{
        background-color: transparent;
        color: #565acf !important;
    }

    nav .navbar-nav .dropdown-menu a:hover::before {
        animation: none;
    }

    .navbar-toggler{
        background-color: var(--btn-color) !important;
        border: none !important;
        box-shadow: none !important;
    }

    .navbar-toggler-icon{
        background-image: url('../../Assets/whitebar.png') !important;
    }

    nav .navbar-nav button{
        margin-top: 0;
    }

    /* nav {
        background-color: #171a1e;
    }

    nav .navbar-nav .dropdown-menu{
        width: 100%;
    }

    nav .whitelogo{
        display: block;
    }

    nav .blacklogo{
        display: none;
    }

    nav .navbar-nav a{
        color: #fff;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        padding-bottom: 15px !important;
        display: block;
    }

    nav .navbar-nav .dropdown-menu{
        background-color: transparent;
        border: none;
    }

    nav .navbar-nav .dropdown-menu a{
        width: 100%;
        color: hsla(0, 0%, 100%, .7);
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }

    nav .navbar-nav .dropdown-menu a:hover{
        background-color: transparent;
        color: #565acf !important;
    }

    nav .navbar-nav .dropdown-menu a:hover::before {
        animation: none;
    }

    .navbar-toggler{
        background-color: var(--btn-color) !important;
        border: none !important;
        box-shadow: none !important;
    }

    .navbar-toggler-icon{
        background-image: url('../../Assets/whitebar.png') !important;
    }

    nav .navbar-nav button{
        margin-top: 0;
    } */
}